.root {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-background-color:  #24747e;
    -fx-background-image: url("/backgr.png");
    -fx-background-size: cover;
    -fx-opacity: 1.0;
}

.label {
    -fx-font-size: 16.0px;
    -fx-text-fill: black;         
    -fx-font-weight: bold;        
}

.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.botoPescamines{
    -fx-background-radius: 0;    
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-effect: none;
}
.botoPescamines:hover{
    -fx-border-color: #cc3333;
    -fx-border-width: 2;
    -fx-padding: 10.0;
    -fx-effect: none;
}
.button:hover {
    -fx-background-color: grey;
    -fx-opacity: 0.7;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 3.0;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
.pixel_imparell{
	-fx-background-color: lightgrey;
		
}
.pixel_parell{
	-fx-background-color: white;
		
}
